<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kyle | Admin</title>
    <link rel="stylesheet" href="/styles/admin.css" />
  </head>
  <body>
    <div class="content">
      <nav>
        <div class="logo"><p>Kyle admin</p></div>
        <div class="buttons"><button id="logout">Log out</button></div>
      </nav>
      <div class="main">
        <div class="add">
          <div class="add-image">
            <div class="image">
              <img
                name="product-image"
                id="image"
                src=""
                alt="Error no image"
              />
            </div>
            <input id="file" name="image" type="file" />
          </div>
          <div class="product-info">
            <input
              id="product-name"
              name="product-name"
              type="text"
              placeholder="Enter product name."
            />
            <input id="category" type="text" placeholder="Enter category." />
            <input
              id="image-name"
              name="image-name"
              type="text"
              placeholder="Enter image name (with .jpeg, .jpg etc.)"
            />
            <input
              id="no-remaining"
              name="no-remaining"
              type="number"
              placeholder="Enter the number remaining"
              min="20"
            />
            <input
              id="price"
              name="price"
              type="number"
              step="0.01"
              placeholder="Enter the price."
            />
            <div class="button">
              <button id="add" type="button">Add.</button>
            </div>
          </div>
        </div>
        <div class="products">
          <h1>Products.</h1>
          <table border="1">
            <tr>
              <th>Product Id</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Image location</th>
              <th>Products remaining</th>
            </tr>

            <% if(results.length > 0){ %> <% for(const result of results){ %>
            <tr>
              <td><%=result.productId%></td>
              <td><%=result.product_name%></td>
              <td><%=result.category%></td>
              <td><%=result.prod_image_loc%></td>
              <td><%=result.no_remaining%></td>
            </tr>
            <% } %> <% } %>
          </table>
        </div>
        <div class="customers">
          <h1>Customers.</h1>
          <table border="1">
            <tr>
              <th>Username</th>
              <th>User Email</th>
            </tr>

            <% if(customers.length > 0){ %> <% for(const customer of customers){
            %>
            <tr>
              <td><%=customer.username%></td>
              <td><%=customer.email%></td>
            </tr>
            <% } %> <% } %>
          </table>
        </div>
        <div class="orders">
          <h1>Orders.</h1>
          <table border="1">
            <tr>
              <th>Username</th>
              <th>Product Id</th>
              <th>Product Name</th>
              <th>Image Location</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total Price</th>
            </tr>

            <% if(orders.length > 0){ %> <% for(const order of orders){ %>
            <tr>
              <td><%=order.username%></td>
              <td><%=order.product_name%></td>
              <td><%=order.productId%></td>
              <td><%=order.prod_image_loc%></td>
              <td><%=order.price%></td>
              <td><%=order.quantity%></td>
              <td><%=order.total_price%></td>
            </tr>
            <% } %> <% } %>
          </table>
        </div>
      </div>
    </div>

    <script>
      window.onload = () => {
        var file = null;
        const logout = document.getElementById("logout");
        logout.addEventListener("click", () => {
          var sure = confirm("Are you sure you want t log out?");
          if (sure) {
            window.location.href = "/signIn";
          }
        });

        let imageInput = document.getElementById("file");
        let image = document.getElementById("image");
        imageInput.addEventListener("input", () => {
          file = imageInput.files[0];
          if (file) {
            const reader = new FileReader();

            reader.readAsDataURL(file);

            reader.addEventListener("load", function (e) {
              image.setAttribute("src", e.target.result);
              image.style.height = "100%";
              image.style.width = "100%";
              image.style.borderRadius = "5px";
            });
          } else {
            console.error("Image not loaded");
          }
        });

        //Send request to add data to the database
        let addBtn = document.getElementById("add");

        addBtn.addEventListener("click", () => {
          let prodName = document.getElementById("product-name").value;
          let category = document.getElementById("category").value;
          let imageName = document.getElementById("image-name").value;
          let noRemaining = parseInt(
            document.getElementById("no-remaining").value
          );
          let price = parseFloat(document.getElementById("price").value);
          let uploadData = new FormData();
          uploadData.append("image", file);
          uploadData.append("productName", prodName);
          uploadData.append("category", category);
          uploadData.append("imageName", imageName);
          uploadData.append("noRemaining", noRemaining);
          uploadData.append("price", price);

          fetch("/KyleAdmin", {
            method: "POST",
            body: uploadData,
          });
        });
      };
    </script>
  </body>
</html>
