<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kyle | Admin</title>
    <link rel="stylesheet" href="/styles/admin.css" />
  </head>
  <body>
    <div class="content">
      <nav>
        <div class="logo"><p>Kyle admin</p></div>
        <div class="buttons"><button id="logout">Log out</button></div>
      </nav>
      <div class="main">
        <div class="products">
          <table border="1">
            <tr>
              <th>Product Id</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Image location</th>
              <th>Products remaining</th>
            </tr>

            <% if(results.length > 0){ %> <% for(const result of results){ %>
            <tr>
              <td><%=result.productId%></td>
              <td><%=result.product_name%></td>
              <td><%=result.category%></td>
              <td><%=result.prod_image_loc%></td>
              <td><%=result.no_remaining%></td>
            </tr>
            <% } %> <% } %>
          </table>
        </div>
        <div class="customers">
          <table border="1">
            <tr>
              <th>Username</th>
              <th>User Email</th>
            </tr>

            <% if(customers.length > 0){ %> <% for(const customer of customers){
            %>
            <tr>
              <td><%=customer.username%></td>
              <td><%=customer.email%></td>
            </tr>
            <% } %> <% } %>
          </table>
        </div>
      </div>
    </div>

    <script>
      window.onload = () => {
        const logout = document.getElementById("logout");
        logout.addEventListener("click", () => {
          var sure = confirm("Are you sure you want t log out?");
          if (sure) {
            window.location.href = "/signIn";
          }
        });
      };
    </script>
  </body>
</html>
