<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/styles/index.css" />
    <script
      src="https://kit.fontawesome.com/f451cfc2d6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="content">
      <nav>
        <div class="logo"><p>Kyle</p></div>
        <div class="search">
          <input
            id="searchbar"
            type="search"
            placeholder="Search products here..."
          />
        </div>
        <div class="buttons">
          <button>Sign in/ Sign up</button>
        </div>
      </nav>
      <div class="cat-cart">
        <aside>
          <h1>Categories.</h1>

          <select>
            <option value="shoes">Shoes</option>
            <hr />
            <option value="jewellery">Jewellery</option>
            <hr />
            <option value="clothes">Clothes</option>
          </select>
        </aside>
        <div class="cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
      <hr />
      <main>
        <% if(results.length > 0){%> <%for(const result of results ){%>

        <div class="product" id="<%= result.productId %>">
          <div class="image">
            <img src="/images/<%=result.prod_image_loc%>" alt="Good stuff" />
          </div>

          <div class="prod-info">
            <div class="prod-name"><%= result.product_name %></div>
            <div class="remaining">Remaining: <%= result.no_remaining %></div>
            <div class="price">$<%= result.price %></div>
          </div>
        </div>

        <%}%> <%}%>
      </main>
    </div>

    <script>
      //add event listener for each product
      const products = document.getElementsByClassName("product");
      Array.from(products).forEach((product) => {
        product.addEventListener("click", () => {
          window.location.href = "/" + product.getAttribute("id");
        });
      });
    </script>
  </body>
</html>
