<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= results[0].product_name %></title>
    <link rel="stylesheet" href="/styles/productspage.css" />
    <script
      src="https://kit.fontawesome.com/f451cfc2d6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="content">
      <nav>
        <div class="logo"><p>Kyle</p></div>
        <div class="cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </nav>
      <div class="product-info" id="<%=results[0].productId%>">
        <div class="image">
          <img
            src="/images/<%=results[0].prod_image_loc%>"
            alt="Amazing product"
          />
        </div>
        <div class="info">
          These are amazing <%= results[0].product_name %> <br />
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam autem
          blanditiis dolore neque hic nemo repudiandae obcaecati sint sit
          suscipit?
        </div>
      </div>
      <div class="name">
        <p class="itemname"><%= results[0].product_name%></p>
      </div>
      <div class="remaining">
        <% if(results[0].no_remaining > 0){ %>
        <p>Remaining: <%= results[0].no_remaining%></p>
        <p class="get">Get them while you still can</p>
        <input
          id="quantity"
          type="number"
          min="0"
          max="<%=results[0].no_remaining%>"
        />
        <% } else { %>
        <p class="sold-out">SOLD OUT</p>
        <% } %>
      </div>
      <div class="price">
        <p>$ <span class="itemprice"><%=results[0].price%></span></p>
        <button id="add-to-cart">Add to cart</button>
      </div>
    </div>

    <%- include("./partials/tomainpage.html") %>
    <script>
      let username = sessionStorage.getItem("username");
      //add event listener for shopping cart
      const cart = document.getElementsByClassName("cart")[0];
      cart.addEventListener("click", () => {
        window.location.href = `/${username}/cart`;
      });

      //Initiate a post request to add data to the cart
      const prodid = parseInt(
        document.getElementsByClassName("product-info")[0].getAttribute("id")
      );
      const prodName =
        document.getElementsByClassName("itemname")[0].textContent;
      const imageLoc = document
        .getElementsByTagName("img")[0]
        .getAttribute("src");
      const price = parseInt(
        document.getElementsByClassName("itemprice")[0].textContent
      );

      let quantity = null;
      const input = document.getElementById("quantity");
      const addToCart = document.getElementById("add-to-cart");

      input.addEventListener("input", () => {
        quantity = +input.value;
      });

      addToCart.addEventListener("click", () => {
        if (quantity >= 1) {
          fetch(`/${username}/${prodid}`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              prodid,
              prodName,
              imageLoc,
              price,
              quantity,
              username,
            }),
          });
        } else {
          alert("Please enter the quantity");
        }
      });
    </script>
  </body>
</html>
